body {
     background-color: #fAf0e6;
}

h1 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-variant: normal;
    font-weight: 900;
}

h3 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-variant: normal;
    font-weight: 700;
}

p {
     font-family: 'Hind Vadodara', sans-serif;
     font-size: 16px;
     font-style: normal;
     text-align: center;
     font-variant: normal;
     font-weight: 400;
     line-height: 1.5;
}

blockquote {
     font-family: 'Hind Vadodara', sans-serif;
     font-size: 21px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 1.5;
}

pre {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 11px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1.5;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Para Para Pic Pic"
    "Counter Counter Counter Counter";
}

.Header { grid-area: Header; }

#Header {
  grid-area: Header;
	  display: grid;
	  place-items: center;
          width: auto;
          height: 100px;
          text-align: center;
          background-color: #f2d9bf;
          justify-content: center;
}

.Para { grid-area: Para; }

#Para {
grid-area: Para;
        display: grid;
 	place-items: center;
        margin: 0 auto;
        text-align: center;
        align-content: stretch;
        background-color: #faf0e6;
}

.Pic { grid-area: Pic; }

#Pic {
  grid-area: Pic;
       display: grid;
       place-items: center;
       margin: 0 auto;
       align-content: stretch;
       background-color: #faf0e6;
}

.Counter { grid-area: Counter; }

#Counter {
  grid-area: Counter;
	   display: grid;
           place-items: center;
           background-color: #f2d9bf;
           justify-content: center;
}

.vis-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Viz1 Viz1 Viz1 Viz1";
}

.Viz1 { grid-area: Viz1; }

#Map {
  grid-area: Viz1;
	  display: block;
	  place-items: center;
	margin: 0 auto;
}

.income-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Title Title Title Title"
    "Scatter Scatter Scatter Radial"
    "Scatter Scatter Scatter Radial";
}

.Title { grid-area: Title; }
#Title {
  grid-area: Title;
	  display: grid;
	  place-items: center;
          width: auto;
          height: 100px;
          text-align: center;
          background-color: #f2d9bf;
          justify-content: center;
}

.Radial { grid-area: Radial; }
#Radial {
  grid-area: Radial;
	  display: block;
	  place-items: center;
	margin: 0 auto;
}

.Scatter { grid-area: Scatter; }
#Scatter {
  grid-area: Scatter;
	  display: block;
	  place-items: center;
	margin: 0 auto;
}
