body {
     background-color: #fAf0e6;
}

h1 { 
    font-family: 'Hind Vadodara', sans-serif; 
    font-size: 28px; 
    font-style: normal;
    text-align: center;
    font-variant: normal; 
    font-weight: 900; 
    line-height: 1.5px; 
} 

h3 { 
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.5px; 
} 

p { 
     font-family: 'Hind Vadodara', sans-serif;
     font-size: 14px;
     font-style: normal;
     text-align: center;
     font-variant: normal;
     font-weight: 400;
     line-height: 1.5; 
} 

blockquote { 
     font-family: 'Hind Vadodara', sans-serif;
     font-size: 21px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 1.5; 
} 

pre { 
      font-family: 'Hind Vadodara', sans-serif; 
      font-size: 11px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 1.5; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Para Para Pic Pic"
    "Counter Counter Counter Counter";
}

.Header { grid-area: Header; }

#Header { grid-area: Header;
	  display: flex;
          width: auto;
          height: 100px;
          text-align: center;
          background-color: #f2d9bf;
          justify-content: center
}

.Para { grid-area: Para; }

#Para { grid-area: Para;
        display: flex;
        margin: 0 auto;
        width: auto;
        height: 200px;
        text-align: center;
        align-content: stretch;
        background-color: #faf0e6;
}

.Pic { grid-area: Pic; }

#Pic { grid-area: Pic;
       display: flex;
       margin: 0 auto;
       width: auto;
       height: 200px;
       align-content: stretch;
       background-color: #faf0e6;
}

.Counter { grid-area: Counter; }

#Counter { grid-area: Counter;
	   display: flex;
	   margin: 0 auto;
           width: auto;
           height: 100px;
           background-color: #f2d9bf;
           justify-content: center
}

.viz-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-template-areas:
    "Viz1h Viz1h Viz1h Viz1h"
    "Viz1 Viz1 Viz1 Viz1";
}

.Viz1h { grid-area: Viz1h; }

#Title { grid-area: Pic;
	 display: flex;
	 margin: 0 auto;
         width: auto;
         height: 100px;
         align-content: center;
         text-align: center;
         background-color: #f2d9bf;
}

.Viz1 { grid-area: Viz1; }

#Map { grid-area: Pic;
       display: flex;
       margin: 0 auto;
       width: auto;
       height: 400px;
       align-content: center;
       background-color: #faf0e6;
}

#choropleth_map {
	top: auto;
	bottom: auto; 
	left: auto;
	right: auto;
	/*height: 1000px;
	width: auto;*/
}
